.flex{
    display: flex;
    background-color: lightgreen;
    height: 300px;
    justify-content: space-around;
    align-items: center;

}

.contenido-1{
    background-color: lavender;
    height: 200px;
    width: 100px;
    border: 1px solid blueviolet;
}
.contenido-2{
    background-color: rgb(244, 209, 196);
    height: 200px;
    width: 100px;
    border: 1px solid darkgoldenrod;
}
.contenido-3{
    background-color: lightgoldenrodyellow;
    height: 200px;
    width: 100px;
    border: 1px solid darkolivegreen;
}