.contenedor{
    width: 300 px;
    height: 100 px;
    color: lightblue;
}
span.frase{
    font-style: italic;
}
span.frase::before{
    content: '<<';
    font-size: xx-small;
}
span.frase::after{
    content: '>>';
    font-size: xx-small;
}
.parrafo::first-letter{
    font-size: x-large;
}
.parrafo::selection{
    background-color: rgb(31, 26, 62);
    color: white;
}
.listado ul li::marker{
    color: darkslateblue;
}